html, body {
  margin: 0; 
  padding: 0;
  background: url("/images/pokeball.png") no-repeat center;
  font-family: Sans-Serif;
  color: #FFF;
}

h5 {
  padding-left: 25%;
}

.hidden {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.row {
  padding-top: 12rem;
}

.col-right {
  padding-left: 8rem;
}

.strong {
  font-weight: bold;
}
